

<div class="container">
  <div class="row">
    <p>
      <strong>Nombre:</strong>
      <%= comment.commenter %>
    </p>
  </div>

  <div class="row">
    <p>
      <strong>Commentario:</strong>
      <%= comment.body %>
    </p>
  </div>
  <hr>
    <% if user_signed_in? %>
      <p>
        <%= link_to 'Borrar comentario', [comment.article, comment],
                     method: :delete,
                     data: { confirm: '¿Estás seguro?' } %>
      </p>
    <% end %>
</div>
