

<div class="container">
  <div class="row">
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
  </div>
  <hr>
  <div class="row">
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
  </div>
    <% if user_signed_in? %>
      <p>
        <%= link_to 'Destroy Comment', [comment.article, comment],
                     method: :delete,
                     data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
</div>
